<!DOCTYPE html>
<!--
	Stellar by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Random Squad (Rs)</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta name="google-site-verification" content="KJMjYKj28zx27sBAU8L9SZxCbT4vesHQwduISvS3KCg" />
		<meta property="og:title" content="Random Squad (Rs)">
		<meta property="og:type" content="website">
		<meta property="og:url" content="https://randomsquad.cl">
		<meta property="og:image" content="https://randomsquad.cl/images/favicon.png">
		<meta property="og:site_name" content="RandomSquad">
		<meta name="keywords" content="fortniteclan,fortnite,chile,clan,rs,randomsquad, random squad chile, rs chile, rs clan, Rs fortnite, Rs Chile, Rs chile, gamer chile,team, team fortnite chile, chilenos, Rs Fortnite, Rs.-,Rs,Random Squad, random squad chile">
		<meta name="description" content="Sitio oficial de clan gamer Chileno Random Squad conocido como Rs.-">
		<link rel="stylesheet" href="assets/css/main.css?v=ed7c8b65beac" />
		<link rel="shortcut icon" type="image/png" href="images/favicon.png"/>
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">
		<span id="bg-img"><img src="images/bg.jpg" alt="" /></span>	
		<!-- Wrapper -->
			<div id="wrapper">

			
					<header id="header" class="alt">
						<span class="logo"><img src="images/logo.png" alt="" /></span>
					</header>

				<!-- Nav -->
					<nav id="nav">
						<ul>
							<li><a href="#intro" class="active">Informaci&oacute;n</a></li>
							<li><a href="#first">Miembros</a></li>
							<li><a href="#second">Estad&iacute;sticas</a></li>
							<li><a href="#cta">Contacto</a></li>
						</ul>
					</nav>

				<!-- Main -->
					<div id="main">

						<!-- Introduction -->
							{{#Info}}
							<section id="intro" class="main">
								<div class="spotlight">
									<div class="content">
										<header>
											<h2>{{Titulo}}</h2>
										</header>
										<p>{{Descripcion}}</p>
									</div>
									<span class="image"><img src="images/pic01.jpg" alt="" /></span>
								</div>
							</section>
							{{/Info}}

						<!-- First Section -->
							<section id="first" class="main special">
								<header class="major">
									<h2>Miembros</h2>
								</header>
								<ul class="features">

									{{#Miembros}}
									<li>
										<span class="image members"><img class="skin" src="images/skins/{{skin}}" alt="" /></span>
										
										<div class="name-logo">
											<div class="holder">
												<h3>{{nombre}}</h3>
												<img class ="logo"src="images/logos/{{logo}}" alt="" />
											</div>
										</div>
									</li>
									{{/Miembros}}

									

								</ul>

						<!-- Second Section -->
							<section id="second" class="main special onScreen">
								<header class="major">
									<h2>Estadísticas</h2>
								</header>
								<ul class="statistics">
									<li>
										<span class="icon fas fa-trophy"></span>
										<strong><span id="vId">0</span></strong>
										<span>Victorias<span>
									</li>
									<li>
										<span class="icon fas fa-skull"></span>
										<strong><span id="kId">0</span></strong>
										<span>Kills</span>
									</li>
									<li>
										<span class="icon fas fa-percentage"></span>
										<strong><span id="kdaId">0</span></strong>
										<span>K/D Promedio</span>
									</li>									
									<li>
										<span class="icon fas fa-users"></span>
										<strong><span id="pjId">0</span></strong>
										<span>Partidas Jugadas</span>
									</li>
								</ul>
								<p class ="disclaimer">*Estadisticas hechas en base a promedios de todos los miembros del equipo, todos los derechos por esta información, son reservados por Epic Games</p>
								<footer class="major">
									<ul class="actions special">
										<li><a href="generic.html" class="button">Learn More</a></li>
									</ul>
								</footer>
							</section>

						<!-- 
							<section id="cta" class="main special">
								<header class="major">
									<h2>Congue imperdiet</h2>
									<p>Donec imperdiet consequat consequat. Suspendisse feugiat congue<br />
									posuere. Nulla massa urna, fermentum eget quam aliquet.</p>
								</header>
								<footer class="major">
									<ul class="actions special">
										<li><a href="generic.html" class="button primary">Get Started</a></li>
										<li><a href="generic.html" class="button">Learn More</a></li>
									</ul>
								</footer>
							</section>
							Get Started -->

					</div>

				<!-- Footer
					<footer id="footer">
						<section>
							<h2>Aliquam sed mauris</h2>
							<p>Sed lorem ipsum dolor sit amet et nullam consequat feugiat consequat magna adipiscing tempus etiam dolore veroeros. eget dapibus mauris. Cras aliquet, nisl ut viverra sollicitudin, ligula erat egestas velit, vitae tincidunt odio.</p>
							<ul class="actions">
								<li><a href="generic.html" class="button">Learn More</a></li>
							</ul>
						</section>
						<section>
							<h2>Etiam feugiat</h2>
							<dl class="alt">
								<dt>Address</dt>
								<dd>1234 Somewhere Road &bull; Nashville, TN 00000 &bull; USA</dd>
								<dt>Phone</dt>
								<dd>(000) 000-0000 x 0000</dd>
								<dt>Email</dt>
								<dd><a href="#">information@untitled.tld</a></dd>
							</dl>
							<ul class="icons">
								<li><a href="#" class="icon fa-twitter alt"><span class="label">Twitter</span></a></li>
								<li><a href="#" class="icon fa-facebook alt"><span class="label">Facebook</span></a></li>
								<li><a href="#" class="icon fa-instagram alt"><span class="label">Instagram</span></a></li>
								<li><a href="#" class="icon fa-github alt"><span class="label">GitHub</span></a></li>
								<li><a href="#" class="icon fa-dribbble alt"><span class="label">Dribbble</span></a></li>
							</ul>
						</section>
						<p class="copyright">&copy; Untitled. Design: <a href="https://html5up.net">HTML5 UP</a>.</p>
					</footer>
					 -->

			</div>

		<!-- Scripts -->
			<script src="assets/js/countUp.js"></script>
			<script type="text/javascript" src="https://unpkg.com/onscreen/dist/on-screen.umd.min.js"></script>
        	<script type="text/javascript">var os = new OnScreen();</script>
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/apiconnection.js"></script>
			<script src="assets/js/main.js"></script>
			<script src="assets/js/stats.js"></script>

	</body>
</html>